<%= stylesheet_link_tag "ser-cbcscbinsmenu", :media => "all" %>  
<!-- Services List Menu -->   
<div id="serviceslist-listmenu">  

	<ul>
      <li><%= image_tag "service-si.gif" %> <%= link_to "System Integration" , :controller => "services", :action =>'index' %></li>
      <li><%= image_tag "service-sw.gif" %> <%= link_to "Software Development" , :controller => "services", :action =>'index' %></li>
      <li><%= image_tag "service-music.gif" %> <%= link_to "Music Audio & Shows" , :controller => "services", :action =>'index' %></li>
      <li><%= image_tag "service-training.gif" %> <%= link_to "Consltant & Training" , :controller => "services", :action =>'index' %></li>
    </ul>

</div>     
<!-- End Of Services List Menu  --> 
