<%= stylesheet_link_tag "services", :media => "all" %>
<% @title = "CGT Services" -%> 

<!-- Services Block -->
<div id="services-line">
  <div id="services-services">    
    <div id="services-company">
      <div id="services-company-pic">
        <%=  image_tag("services-overview.gif") %>
      </div>
      <div id="services-company-services">
        <h3><span>Company Services</span></h3>
      </div> 
    </div>
    <div id="services-integrations">
      <div id="services-integrations-pic">
        <%= image_tag("services-integrations-pic.gif") %>
      </div>
      <div id="services-integrations-comm">
        <div id="services-integrations-title">
          <p><%= link_to "System Integration", :controller => "services", :action => "" %></p>
        </div>
        <div id="services-integrations-content">
          <p><%= ServiceType.find_by_id(1).st_desc %></p> 
        </div>
      </div>
    </div>
    <div id="services-software">
      <div id="services-software-pic">
        <%= image_tag("services-software-pic.gif") %>
      </div>
      <div id="services-software-comm">
        <div id="services-software-title">
          <p><%= link_to "Software Development", :controller => "services", :action => "" %></p>
        </div>
        <div id="services-software-content">
          <p><%= ServiceType.find_by_id(2).st_desc %></p>
        </div>
      </div>
    </div>
    <div id="services-music">
      <div id="services-music-pic">
        <%= image_tag("services-music-pic.gif") %>
      </div>
      <div id="services-music-comm">
        <div id="services-music-title">
          <p><%= link_to "Music Audio & Shows ", :controller => "services", :action => "" %></p>
        </div>
        <div id="services-music-content">
          <p><%= ServiceType.find_by_id(3).st_desc %></p>
        </div>
      </div>
    </div>
    <div id="services-consultant">
      <div id="services-consultant-pic">
        <%= image_tag("services-consultant-pic.gif") %>
      </div>
      <div id="services-consultant-comm">
        <div id="services-consultant-title">
          <p><%= link_to "Consultant & Training", :controller => "services", :action => "" %></p>
        </div>
        <div id="services-consultant-content">
          <p><%= ServiceType.find_by_id(4).st_desc %> </p>
        </div>
      </div>
    </div>
  </div>
  <div id="services-list">
    <div id="services-list-title">
      <div id="services-list-title-pic">
        <%= image_tag("services-list-title-pic.gif") %>
      </div>
      <h3><span>Services List</span></h3>
    </div>
    <div id="services-list-comm">
      <p>XXX Service List </p>        <!--The specified service title with left clicks  -->
    </div>
    <div id="services-list-list">
      <ul>
        <% for service in @services %>
          <li><%= link_to service.sl_title ,:action => "show",:id => service %></li>
        <% end  %>
      </ul>
    </div>
    <div id="services-list-more">
      <%=will_paginate @services%>
    </div>
  </div>
</div>
<!-- End of Services Block -->
