<%= stylesheet_link_tag "back-events-page-show", :media => "all"  %>   
<% @title = "News/Events Page Back - Show Events Page" -%>
<% @header = "News/Events Page Back - Show Events Page" -%>
<div id="block-mgt">  
  <div id="block-list">  
    <ul>
      <li><%= link_to "Web Back Menu" ,:controller => "back_menu"%></li>
    </ul>
  </div><!-- End #back-list -->
  
  <div id="operate-mgt">
    <div id="operate-intro">
      <h3>Information About Show Events Page</h3>
      <p>In Show Events Page, it is displaying the current content of the selected news/event. The content can be text, pictures and videos. Admin can review the content in the page.
      <p>The font size of the page is 14px, and the font color is dark grey. The width of its display area is 780px, and the length can be scrolled by the context. 
      <p>Please review the content as follows.
      </p>
    </div><!-- end #operate-intro -->

    <div id="operate-area">
      
      <h3>Show Events Page Content</h3>
      <h5>(The show box size is the same to News/Events page.)        </h5>
      <div id="operate-title">
        <h5>Current News/Events Title:</h5> 
      </div>
      <div id="operate-title">
        <p><%=h @event.ev_title %></p> 
      </div>
      <div id="operate-author">
        <h5>Current Author:  </h5> 
      </div>
      <div id="operate-author">     
        <p><%=h @event.ev_author %></p>
      </div>
      <div id="operate-date">
        <h5>Published Date:  </h5> 
      </div>
      <div id="operate-date">     
        <p><%=h @event.updated_at.strftime("%b.,%d,%Y") %></p>
      </div>
      
      <div id="operate-show">
        <p><%= @event.ev_desc %>  
        </p>
      </div>
      <div id="operate-admin">
        <h5>Current Admin: </h5> 
      </div>    
      <div id="operate-admin">
        <p>Zhang Yi</p>
      </div>
      <div id="operate-buttons"> 
        <ul>
          <li><%= link_to "Back" ,:action => "index"%></li>
          <li><%= link_to "Edit Content" ,:action => "edit",:id => @event.id %></li>
          <li><%= link_to "Destory Content" ,:action => "destroy",:id => @event.id,:confirm => 'Are you sure?', :method => :delete%></li>
        </ul>
      </div><!-- End #operate-bottons -->
        
    </div> <!-- end #operate-area -->
    
  </div> <!-- end #operate-mgt -->
  
</div> <!-- end #block-mgt -->




