<%= stylesheet_link_tag "back-footer-new", :media => "all"  %>   
<% @title = "Page Footer Back - New Copyright Column" -%>
<% @header = "Page Footer Back - New Copyright Column" -%>
<div id="operate-mgt">
  <div id="operate-intro">
    <h3>Information About Copyright Column</h3>
    <p>Copyright column shows CGT's copyright. The font size of the page is 10px, and the color is black. When you are ready to change the copyright information, please input the new one below.
    <p>After you input the new content, then it will replace your old one that will be changed. </p>
  </div><!-- end #operate-intro -->

  <div id="operate-area">
    <h3>New Copyright Column</h3>
    
    <div id="operate-new">
      <% form_for :about,@about,:url => { :action => "create_footer",:id => @footer.id }, :html => { :method => :post } do |f| %>
        <div class="word">
          <p>New Comment:&nbsp;&nbsp;&nbsp;&nbsp;(Less than 220 letters.)</p>
        </div>
        <div class="message">
          <%= f.text_area :content %>
        </div>
        <div class="word">
          <p>New Author:&nbsp;&nbsp;&nbsp;&nbsp;(Less than 40 letters.)</p>
        </div>
        <div class="row">
          <%= f.text_field :author %>
        </div>
        <div class="word">
          <p>New Admin:&nbsp;&nbsp;&nbsp;&nbsp;(Less than 40 letters.)</p>
        </div>
        <div class="row">
          <input name="Admin" type="text" class="input" maxlength=40 size=50 />
        </div>
        <div class="div">
          <p>
            <%= f.submit "New Content" ,:popup => "New Content Has Been Successfully Input!" %>
          </p>
        </div>
      <% end %>
    </div>    <!-- End #operate-new -->

    <div id="operate-buttons">
      <ul>
        <li><%= link_to "Back" ,:action => "footer"%></li>
      </ul>
    </div>  <!-- End #operate-bottons -->

  </div>   <!-- end #operate-area -->
    
</div>  <!-- end #operate-mgt -->

