<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "employees-forgot", :media => "all"  %>
    <% @title = "Handling Forgot Password Page" -%>
  </head>
  <body class="employees-login">
    <div id="main">
      <!--   Employees Login Page  -->
      <!--   Employees Login Page Banner -->
      <div id="employees-banner">
        <div id="employees-page">
          <%= image_tag('employee-cgt-logo-red.gif') %>
          <%= image_tag('employee-title-red.gif') %>
        </div>
        <div id="employees-board">
          <%= image_tag('employee-slang.gif') %>
        </div>
      </div>

<div id="employees-buttons"> 
  <ul>
    <li><%= link_to "Home" ,:controller => 'home' %></li>
    <!--        <li><a href="#">Employee Views</a></li>  -->
<!--        <li><a href="#">Settings</a></li>  -->
  </ul>
</div>
<div id="employees-forgot"> 
  <%=  flash[:notice] %>
  <% form_tag :action => 'forgot_password' , :method => :post do -%>
    <div class="info"> <span>Handling Forgot Password</span><br></div>
    <div class="word">
      <p>For helping to get your password back soon, Please input the information below.</p>
    </div>
    <div class="yourid"> <p>Your Name (ID):</p>  </div>
    <div class="row"> <%= text_field_tag 'login' %> </div>
    <div class="div">
      <%= submit_tag 'submit' %>
    </div>
  <% end -%>
</div>

