<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= @title ||= "CGT Employees Login" %></title>
    <%= stylesheet_link_tag "employees-login", :media => "all"  %>
  </head>
  <body class="employees-login">
    <div id="main">
      <!--   Employees Login Page  -->
      <!--   Employees Login Page Banner -->
      <div id="employees-banner">
        <div id="employees-page">
          <%= image_tag('employee-cgt-logo-red.gif') %>
          <%= image_tag('employee-title-red.gif') %>
        </div>
        <div id="employees-board">
          <%= image_tag('employee-slang.gif') %>
        </div>
      </div>
<!--  End of Employees Login Page Banner -->

<div id="employees-buttons"> 
  <ul>
    <li><%= link_to "Home" ,:controller => 'home' %></li>

  </ul>
</div>
<div id="employees-login">  	
  <% form_tag :action => 'login_in' , :method => :post do -%>
    <div class="info"> <span>CGT Employees Login</span><br></div>
    <div class="word">
      <p>Your Name(ID):</p>
    </div>
    <div class="row"><%= text_field_tag 'login' %> </div>
    <div class="word">
      <p>Your Password:</p>
    </div>
    <div class="row">
      <%= password_field_tag 'password' %>
    </div>
    <div class="word">
      <p class="remember"><%= check_box_tag 'remember_me' ,:checked => "checked" %> 
        Remember me as  
        <%= radio_button_tag 'adim', "Employees",:checked => "checked" %>  Employees
        <%= radio_button_tag 'adim', "Admin"%>   Admin
      </p>
    </div>
    <div class="item">
      <p>For your security, please do not use this option in Internet shop or on public computers.</p>
    </div>
    <div class="div">
      <%= submit_tag 'Login' %>
      <%= link_to "Forgot password?" ,:action => 'forgot' %>
    </div>
  <% end -%>
  </div>
<!--  End of Employees Login Page  -->



