<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "employees-modify", :media => "all"  %>
    <% @title = "CGT Employees Modify Password Page" -%>
  </head>
  <body class="employees-login">
    <div id="main">
      <!--   Employees Login Page  -->
      <!--   Employees Login Page Banner -->
      <div id="employees-banner">
        <div id="employees-page">
          <%= image_tag('employee-cgt-logo-red.gif') %>
          <%= image_tag('employee-title-red.gif') %>
        </div>
        <div id="employees-board">
          <%= image_tag('employee-slang.gif') %>
        </div>
      </div>
<!--  End of Employees Login Page Banner -->


<div id="employees-buttons"> 
  <ul>
    <li><%= link_to "Home" ,:controller => 'home' %></li>
    <!--        <li><a href="#">Employee Views</a></li>  -->
<!--        <li><a href="#">Settings</a></li>  -->
  </ul>
</div>
<div id="employees-modify"> <%=flash[:notice]%> 	
  <% form_for :employee, @employee, :url => { :action => 'reset_password' }, :html => { :method => :post   } do |f| %> 
    <div class="info"> <span>Modify Your Password</span><br></div>
    <div class="word">
      <p>Please set your new password.</p>
    </div>
    <div class="new"> <p>New Password  (at least 6 characters):</p>  </div>
    <div class="row"> <%= f.password_field :password %> </div>
    <div class="new"> <p>Confirm:</p>  </div>
    <div class="row"> <%= f.password_field :password_confirmation %></div>
    <div class="div">
      <%= submit_tag 'Submit' %>
    </div>
  <% end %>
  </div>
