<div id="block-list">  
  <ul>
    <li><%= link_to "Web Back Menu" ,:controller => "back_menu"%></li>
    <li><%= link_to "System Integration Comment" ,:action => "system_col"%></li>
    <li><%= link_to "Software Development Comment" ,:action => "soft_col"%></li>
    <li><%= link_to "Music & Audio Comment" ,:action => "music_col"%></li>
    <li><%= link_to "Consultant & Training Comment" ,:action => "train_col"%></li>
    <li><%= link_to "Services List Comment" ,:action => "servlist_col"%></li>
    <li><%= link_to "Services Show Page" ,:action => "list"%></li>
  </ul>
</div><!-- End #back-list -->
