<%= stylesheet_link_tag "back-serv-system-col", :media => "all"  %>   
<% @title = "CGT Services Page Back - System Integration Comment" -%>
<% @header = "CGT Services Page Back - System Integration Comment" -%>
<div id="block-mgt">    
  <%= render(:partial => 'menu') %>      
  <div id="operate-mgt">
    <div id="operate-intro">
      <h3>Information About System Integration Comment</h3>
      <p>The comment displays what CGT can do in System Intergration area. it is only text. The font size is 12px, and the color is black. The size of the display box is 320x60px. It can hold max 220 letters.
      <p>In this page, there is only a operation - New Comment. If there is not any comment (blank), click the operation to add a new comment. Otherwise, use the operaion to update it.
      <p>Please review the comment as follows.
      </p>
    </div><!-- end #operate-intro -->

    <div id="operate-area">
      <h3>Show System Integration Comment</h3>
      <h5>(The show box size is the same to System Integration Comment.)</h5>
      <div id="operate-show">
        <p><%=  @system.content %></p>
      </div>
      <div id="operate-author">
        <h5>Current Author:  </h5> 
      </div>
      <div id="operate-author">     
        <p><%=  @system.author %></p>
      </div>
      <div id="operate-admin">
        <h5>Current Admin: </h5> 
      </div>    
      <div id="operate-admin">
        <p>Niu Niu</p>
      </div>
      <div id="operate-buttons"> 
        <ul>
          <li><%= link_to "New Comment" ,:action => "system_new"%></li>
        </ul>
      </div><!-- End #operate-bottons -->
        
    </div> <!-- end #operate-area -->
    
  </div> <!-- end #operate-mgt -->
</div> <!-- end #block-mgt -->

