<%= stylesheet_link_tag "solutions-menu", :media => "all"  %>   
<%= stylesheet_link_tag "solutions-show", :media => "all"  %>   
<%= stylesheet_link_tag "solutions", :media => "all"  %> 
<!-- Solutions Show Title Block -->	 	
<div id="solutions-show-title">
  <%= image_tag("solutions-show-pic.gif") %>
  <p>Solutions Show</p>
  <div id="solutions-show-search">  		
    <% form_tag('/solutions/find',:method=>"get") do %>
      <div class="solu-seek">
        <%= text_field_tag 'keyWord'%>
        <span class="div">
          <%= submit_tag 'Search' %>
        </span>
      </div>
    <% end %> 
  </div> 
</div>
<!-- End Of Solutions Show Title Block -->

    <!-- Solutions Show Menu Block -->      
<div id="solutions-show-menu">

    <div id="solutions-show-menu">
        <ul>
              <li><%= image_tag "solu-info.gif" %> <%= link_to "Information Industry" , :controller => "solutions", :action =>'index' %></li>
              <li><%= image_tag "solu-cd.gif" %> <%= link_to "Media Industry" , :controller => "solutions", :action =>'index' %></li>
              <li><%= image_tag "solu-train.gif" %> <%= link_to "Training Industry" , :controller => "solutions", :action =>'index' %></li>
              <li><%= image_tag "solu-tradi.gif" %> <%= link_to "Other Industries" , :controller => "solutions", :action =>'index' %></li>
        </ul>
    </div>

</div>
<!-- End Of Solutions Show Menu Block --> 
