<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <%= stylesheet_link_tag "back-common", :media => "all"  %>  
    <%= stylesheet_link_tag "back-privacy", :media => "all"  %>   
    <title><%= @title ||= "Privacy Page Back - Show Privacy Page" %></title>   
    
  </head>
  
  <body class="back-home">
    
    <div id="container">
      
      <div id="header">
        <h1><%= @title %></h1>
      </div><!-- end #header -->
      
      <div id="back-buttons"> 
        <ul>
          <li><%= link_to "Home" ,:controller => "home"%></li>
          <li><%= link_to "Employees" ,:controller => "employees" ,:action => 'logins' %></li>
        </ul>
      </div><!-- End #back-bottons -->

      
      <div id="block-mgt">  
        <div id="block-list">  
          <ul>
            <li><%= link_to "Web Back Menu" ,:controller => "back_menu"%></li>
          </ul>
        </div><!-- End #back-list -->
        
        <%= yield :layout %>
        
      </div> <!-- end #block-mgt -->


   
      <!-- Footer Block -->
      <div id="cgt-footer">
        <div id="cgt-footer-copyright">
          <ul>
            <li>Copyright © 2008-2009 CGTechCo.com. All Rights Reserved. </li>
            <li><a href="privacy.htm">Privacy Policy</a></li>
          </ul>
          <br/>
        </div>
        <!-- End #cgt-footer-copyright -->
        <div id="cgt-footer-usa">
          <div id="cgt-footer-portland">
            <p class="portland-usa">Portland:</p>
          </div>
          <div id="cgt-footer-portland-date">
            <iframe class="p-time" src="http://free.timeanddate.com/clock/i15tkil4/n221/fs10/fc444/fti/pa0/tt0/tw1/tm1" frameborder="0" width="200" height="18"></iframe>
          </div>
        </div>
        <!-- End #cgt-footer-usa -->
        <div id="cgt-footer-china">
          <div id="cgt-footer-beijing">
            <p class="beijing-cn">Beijing:</p>
          </div>
          <div id="cgt-footer-beijing-date">
            <iframe class="b-time" src="http://free.timeanddate.com/clock/clock/i15tkil4/n33/fs10/fc444/fti/pa0/tt0/tw1/tm1" frameborder="0" width="200" height="18"></iframe>
          </div>
        </div>
        <!-- End #cgt-footer-china -->
      </div>
      <!-- End #cgt-footer -->
  
      
    </div> 
    <!-- End #container -->
  </body>
</html>

